# Eggs
/.eggs/

# Virtual environments
/env/
/envs/

# Build artifacts
/build/
/dist/
*.egg-info/

# Caches
**/__pycache__/

# Miscellaneous
/setup2.py
/proj/

# Ignore outputs folder
output/*

# Ignore PyCharm files
*.idea
app.log
temp_test.gpkg
